@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --lead: #212121;
    --gold-finger: #F2BD12;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}


* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    /* border: .1rem solid red; */
}

body {
    background: var(--eye-ball);
}

/* Basic-Styling */
.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.gap-3 {
    gap: 3rem;
}


.wrapper {
    max-width: 1400px;
    margin: auto;
    padding: .5rem;
}

.list {
    list-style: none;
}

.p-top {
    padding-top: 10rem;
}

.text-center {
    text-align: center;
}

.tp-4 {
    margin-top: 3.5rem;
}


/* Header-style */

.web-name {
    color: rgb(0, 0, 0);
    font-family: "Biticount Ink, system-u";
    font-size: 1.8rem;
}

nav ul {
    gap: 3rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.desktop-actions a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btn {
    text-decoration: none;
    color: var(--eye-ball);
    display: inline-block;
    padding: 0.5rem;
    background: var(--gold-finger);
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 5px black;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.cart-icon {
    position: relative;
    color: var(--lead);
    font-size: 1.3rem;
}

.cart-icon .cart-value {
    font-size: .90rem;
    left: 14px;
    top: 50%;
    position: absolute;
    width: 20px;
    border-radius: 50%;
    background: var(--gold-finger);
    color: var(--eye-ball);
    text-align: center;
    line-height: 19px;
}

.bars {
    font-size: 1.3rem;
    display: none;
}

.mobile-menue {
    display: none;

}

.mobile-menue a {
    text-decoration: none;
    color: black;
}





/* Section-Styling */
.hero-section {
    min-height: calc(100vh - 12vh);
}

.social-icons {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.content,
.img-container,
.service-card {
    flex: 1;
    flex-basis: 350px;
}

.hero-section .content {
    padding-top: 20px;
    margin-top: 0;
}

h1 {
    font-size: 3.9vw;
    color: var(--lead);
}

h1 span {
    color: var(--gold-finger);
}

p {
    font-size: 1.2rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 300;
}

.para {
    margin-block: 2.5rem;
    max-width: 550px;
}

.social-icons {
    background: rgb(239, 214, 202);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
    transition: .8s ease-in-out;
}

.social-icons:hover {
    background: var(--lead);
    color: var(--pure-white);
}

/* Section1 */
h5 {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}

h2 {
     font-size: 3.7rem;
     text-transform: capitalize;
     color: var(--lead);
}

h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.service-card {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}




/* Footer-Styling */
























/* Media-Quaries */
@media screen and (max-width: 900px) {
 .wrapper {
    max-width: 500px;
    margin: auto;
    padding: 1.9rem;
}
    /* Header-Stylinh */
    .nav-bar,
    .desktop-actions .btn {
        display: none;
    }

    
    .bars {
        display: block;
    }

    .mobile-menue {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10%;
        left: -100%;
        transform: translate(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--lead);
        border-radius: 2rem;
        box-shadow:
            8px 8px 8px rgba(0, 0, 0, 0.05),
            8px 8px 8px rgba(0, 0, 0, 0.05) inset;
        transition: all 5s ease-in-out;
    }

    .mobile-menue-active {
        left: 50%;
        transform: translateX(-50%);
    }

    /* Hero-Section-Styling */
    h1 {
        font-size: 3.5rem;
    }

.content {
    padding-top: 3rem;
}
.gap-2 {
    gap: 2rem;
}

.social-icons {
    margin-bottom: .8rem;
}

/* Section1  */

h2 {
    font-size: 3rem;
}
}